In [6]:
import pandas as pd
from sklearn import preprocessing

In [11]:
leptraits = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/EcoMorphDBs/leptraits.csv', low_memory=False)
meta = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/NemuPipeline/AllInsects/midori_all_insects_mutspec/msMetaData.tsv', sep='\t')
glad = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/EcoMorphDBs/global_ants.csv', encoding='latin1')
animal_traits = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/EcoMorphDBs/animal_traits.csv')
diptera_traits = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/EcoMorphDBs/DipteraTraitDataset.csv')
cock_terms_skew = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/DescriptiveStat/midori_Blattodea_skew.csv', index_col=0)
diptera_skew = pd.read_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/DescriptiveStat/midori_Diptera_skew.csv', index_col=0)

In [8]:
meta.Species = meta.Species.apply(lambda sp: sp.split('_'))
meta.Species = meta.Species.apply(lambda sp: " ".join(sp))

In [4]:
meta.head()

,Species,Class,Order,Family,Genus,Nodes_in_tree
0,Gorytes quinquefasciatus,Insecta_50557,Hymenoptera_7399,Crabronidae_253718,Gorytes_421172,10.0
1,Argyresthia goedartella,Insecta_50557,Lepidoptera_7088,Argyresthiidae_572717,Argyresthia_572706,26.0
2,Formica lasioides,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Formica_72766,216.0
3,Machimus vescus,Insecta_50557,Diptera_7147,Asilidae_50673,Machimus_247604,41.0
4,Leucophenga orientalis,Insecta_50557,Diptera_7147,Drosophilidae_7214,Leucophenga_7329,15.0

In [10]:
leptraits['Species'] = leptraits['Genus'] + ' ' + leptraits['Species']
leptraits = leptraits.drop(columns='Genus')

In [11]:
df = []
for sp in meta['Species']:
    if sp in leptraits['Species'].to_list():
        leptraits_data = leptraits.loc[leptraits['Species'] == sp]
        df.append(leptraits_data.assign(Family=meta.loc[meta['Species'] == sp, 'Family'].to_list() * len(leptraits_data)))
df = pd.concat(df)

In [12]:
df[['Species','Family', 'WingSpanLower_Female', 'WingSpanUpper_Female',
       'WingSpanLower_Male', 'WingSpanUpper_Male', 'WingSpanLower_Unspecified',
       'WingSpanUpper_Unspecified', 'ForewingLower_Female',
       'ForewingUpper_Female', 'ForewingLower_Male', 'ForewingUpper_Male',
       'ForewingLower_Unspecified', 'ForewingUpper_Unspecified']]

,Species,Family,WingSpanLower_Female,WingSpanUpper_Female,WingSpanLower_Male,WingSpanUpper_Male,WingSpanLower_Unspecified,WingSpanUpper_Unspecified,ForewingLower_Female,ForewingUpper_Female,ForewingLower_Male,ForewingUpper_Male,ForewingLower_Unspecified,ForewingUpper_Unspecified
5341,Papilio helenus,Papilionidae_7143,NaN,NaN,NaN,NaN,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
5342,Papilio helenus,Papilionidae_7143,NaN,NaN,NaN,NaN,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
25005,Papilio helenus,Papilionidae_7143,NaN,NaN,NaN,NaN,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
34622,Papilio helenus,Papilionidae_7143,NaN,NaN,NaN,NaN,5.5,5.8,NaN,NaN,NaN,NaN,NaN,NaN
36600,Papilio helenus,Papilionidae_7143,NaN,NaN,NaN,NaN,8.0,11.5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36888,Eurema brigitta,Pieridae_7114,NaN,NaN,NaN,NaN,2.8,4.5,NaN,NaN,NaN,NaN,NaN,NaN
37450,Eurema brigitta,Pieridae_7114,NaN,NaN,NaN,NaN,1.5,2.3,NaN,NaN,NaN,NaN,NaN,NaN
6807,Celaenorrhinus proxima,Hesperiidae_40093,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
50122,Celaenorrhinus proxima,Hesperiidae_40093,NaN,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50123,Celaenorrhinus proxima,Hesperiidae_40093,NaN,NaN,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
meta.loc[meta['Family'] == "Formicidae_36668"]

,Species,Class,Order,Family,Genus,Nodes_in_tree
2,Formica lasioides,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Formica_72766,216.0
19,Sericomyrmex saussurei,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Sericomyrmex_34715,11.0
45,Hypoponera punctatissima,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Hypoponera_237677,13.0
118,Solenopsis richteri,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Solenopsis_13685,22.0
184,Anochetus goodmani,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Anochetus_269308,31.0
...,...,...,...,...,...,...
10856,Anoplolepis carinata,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Anoplolepis_354295,10.0
10872,Pheidole sensitiva,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Pheidole_190769,14.0
10883,Holcoponera striatula,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Holcoponera_2925256,15.0
10952,Holcoponera strigata,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Holcoponera_2925256,32.0
10997,Proformica nasuta,Insecta_50557,Hymenoptera_7399,Formicidae_36668,Proformica_72777,15.0

In [14]:
glad['Species'] = glad['Genus'] + ' ' + glad['Species']
glad = glad.drop(columns=['Genus', 'Visibility', 'Traits ID'])

In [15]:
df = []
for sp in meta['Species']:
    if sp in glad['Species'].to_list():
        glad_data = glad.loc[glad['Species'] == sp]
        df.append(glad_data.assign(Family=meta.loc[meta['Species'] == sp, 'Family'].to_list() * len(glad_data)))
df = pd.concat(df)

In [16]:
len(df.Species.unique())

81

In [17]:
df

,Invasive To Political Region1,Species,Morphospecies,Latitude,Longitude,Caste,Head width across eyes (mm),Head length (mm),Clypeus length (mm),Mandible length (mm),...,Polymorphism,Queen number,Colony type,Colony founding,Nest Site,Activity,Diet,Political Region1,Continent,Family
4006,Native*,Camponotus novogranadensis,False,-15.95797267,-47.92049733,Worker,1.02,1.11,0.35,0.54,...,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Brazil,South America,Formicidae_36668
4091,Native*,Camponotus novogranadensis,False,-9.25285,-44.78424333,Worker,1.02,1.11,0.35,0.54,...,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Brazil,South America,Formicidae_36668
802,Native*,Tetramorium sericeiventre,False,Not in paper,Not in paper,Minor,0.88,0.86,0.22,0.54,...,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Formicidae_36668
803,Native*,Tetramorium sericeiventre,False,Not in paper,Not in paper,Minor,0.84,0.94,0.22,0.5,...,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Formicidae_36668
804,Native*,Tetramorium sericeiventre,False,Not in paper,Not in paper,Minor,0.84,0.9,0.22,0.52,...,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Formicidae_36668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,Native*,Formica sanguinea,False,64.3479,20.6792,Worker,1.2,1.377777778,Not in paper,Not in paper,...,Polymorphic (3),Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Formicidae_36668
1318,Native*,Formica sanguinea,False,64.3479,20.6792,Worker,1.288888889,1.466666667,Not in paper,Not in paper,...,Polymorphic (3),Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Formicidae_36668
1319,Native*,Formica sanguinea,False,64.3479,20.6792,Worker,1.288888889,1.333333333,Not in paper,Not in paper,...,Polymorphic (3),Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Not in paper,Formicidae_36668
3408,Native*,Pheidole sensitiva,False,Not in paper,Not in paper,Worker,0.62,0.58,0.14,0.36,...,Dimorphic (2),Monogyny (1),Monodomous (1),Not in paper,Litter (6),Diurnal (1),Generalist (2),Not in paper,Not in paper,Formicidae_36668
3409,Native*,Pheidole sensitiva,False,Not in paper,Not in paper,Worker,0.56,0.54,0.16,0.32,...,Dimorphic (2),Monogyny (1),Monodomous (1),Not in paper,Litter (6),Diurnal (1),Generalist (2),Not in paper,Not in paper,Formicidae_36668

In [18]:
animal_traits

,phylum,class,order,family,genus,species,specificEpithet,sex,sampleSizeValue,inTextReference,...,mass-specific metabolic rate - units,brain size,brain size - units,brain size - minimum,brain size - maximum,brain size - method,brain size - comments,brain size - metadata comment,original brain size,original brain size - units
0,Chordata,Amphibia,Anura,Hylidae,Hyla,Hyla versicolor,versicolor,NaN,1,"Taylor, Nol, & Boire, 1995",...,NaN,0.000042,kg,NaN,NaN,histological reconstruction,total brain volume,photographs of cross sections were taken and v...,40.79,mm3
1,Chordata,Amphibia,Anura,Hylidae,Pseudacris,Pseudacris triseriata,triseriata,NaN,3,"Taylor, Nol, & Boire, 1995",...,NaN,0.000002,kg,NaN,NaN,histological reconstruction,NaN,photographs of cross sections were taken and v...,2.18,mm3
2,Chordata,Amphibia,Anura,Hylidae,Acris,Acris crepitans,crepitans,NaN,3,"Taylor, Nol, & Boire, 1995",...,NaN,0.000004,kg,NaN,NaN,histological reconstruction,NaN,photographs of cross sections were taken and v...,4.28,mm3
3,Chordata,Amphibia,Anura,Ceratobatrachidae,Platymantis,Platymantis vitiensis,vitiensis,NaN,1,"Taylor, Nol, & Boire, 1995",...,NaN,0.000005,kg,NaN,NaN,histological reconstruction,NaN,photographs of cross sections were taken and v...,4.76,mm3
4,Chordata,Amphibia,Anura,Ranidae,Rana,Rana sylvatica,sylvatica,NaN,3,"Taylor, Nol, & Boire, 1995",...,NaN,0.000009,kg,NaN,NaN,histological reconstruction,NaN,photographs of cross sections were taken and v...,8.27,mm3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,Chordata,Reptilia,Squamata,Sphaerodactylidae,Sphaerodactylus,Sphaerodactylus cinereus,cinereus,NaN,8,"Dunson & Bramham, 1981",...,W/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3576,Chordata,Reptilia,Squamata,Sphaerodactylidae,Sphaerodactylus,Sphaerodactylus notatus,notatus,NaN,6,"Dunson & Bramham, 1981",...,W/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3577,Chordata,Reptilia,Squamata,Dactyloidae,Anolis,Anolis sagrei,sagrei,NaN,12,"Dunson & Bramham, 1981",...,W/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3578,Chordata,Reptilia,Squamata,Eublepharidae,Coleonyx,Coleonyx switaki,switaki,NaN,1,"Putnam & Murphy, 1982",...,W/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3579,Chordata,Reptilia,Squamata,Eublepharidae,Coleonyx,Coleonyx variegatus,variegatus,NaN,1,"Putnam & Murphy, 1982",...,W/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = []
for sp in meta['Species']:
    if sp in animal_traits['species'].to_list():
        animal_traits_data = animal_traits.loc[animal_traits['species'] == sp]
        df.append(animal_traits_data.assign(Family=meta.loc[meta['Species'] == sp, 'Family'].to_list() * len(animal_traits_data)))
df = pd.concat(df)

In [20]:
df.columns

Index(['phylum', 'class', 'order', 'family', 'genus', 'species',
       'specificEpithet', 'sex', 'sampleSizeValue', 'inTextReference',
       'publicationYear', 'fullReference', 'body mass', 'body mass - units',
       'body mass - minimum', 'body mass - maximum', 'body mass - method',
       'body mass - comments', 'body mass - metadata comment',
       'original body mass', 'original body mass - units', 'metabolic rate',
       'metabolic rate - units', 'metabolic rate - minimum',
       'metabolic rate - maximum', 'metabolic rate - method',
       'metabolic rate - comments', 'metabolic rate - metadata comment',
       'original metabolic rate', 'original metabolic rate - units',
       'original respiratoryQuotient', 'original temperature',
       'mass-specific metabolic rate', 'mass-specific metabolic rate - units',
       'brain size', 'brain size - units', 'brain size - minimum',
       'brain size - maximum', 'brain size - method', 'brain size - comments',
       'brain size - metadata comment', 'original brain size',
       'original brain size - units', 'Family'],
      dtype='object')

In [21]:
t = df[['species', 'body mass', 'body mass - units',
       'metabolic rate',
       'metabolic rate - units',
       'original respiratoryQuotient', 'original temperature',
       'mass-specific metabolic rate', 'mass-specific metabolic rate - units',
       'brain size', 'brain size - units']]
t = df[['species','order', 'body mass', 'body mass - units',
       'metabolic rate',
       'metabolic rate - units',
       'mass-specific metabolic rate', 'mass-specific metabolic rate - units']]

In [22]:
t = t.dropna()

In [1]:
t

NameError: name 't' is not defined

In [17]:
df = []
for sp in meta['Species']:
    if sp in diptera_traits['scientificName'].to_list():
        diptera_traits_data = diptera_traits.loc[diptera_traits['scientificName'] == sp]
        df.append(diptera_traits_data.assign(Family=meta.loc[meta['Species'] == sp, 'Family'].to_list() * len(diptera_traits_data)))
df = pd.concat(df)

In [18]:
t = df [['scientificName',	'habitat',	'traitName',	'traitValue']]

In [19]:
print(t['habitat'].unique())
t['traitValue'].unique()

['Terrestrial' 'Aquatic' 'SemiAquatic']

array(['NonFeeding', 'Saprophagous', 'Phytophagous_and_Saprophagous',
       'Phytophagous', 'Predaceous', 'Nectivore_and_Predaceous',
       'Omnivores', 'Nectivore', 'Parasitoid', 'Fungivore',
       'Nectivore_and_Saprophagous', 'Phytophagous_and_Fungivore',
       'Parasitic'], dtype=object)

In [88]:
label_encoder = preprocessing.LabelEncoder()
t['habitat']=label_encoder.fit_transform(t['habitat'])
t['traitValue']=label_encoder.fit_transform(t['traitValue'])

/tmp/ipykernel_20533/3906583812.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['habitat']=label_encoder.fit_transform(t['habitat'])
/tmp/ipykernel_20533/3906583812.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['traitValue']=label_encoder.fit_transform(t['traitValue'])

In [89]:
print(t['habitat'].unique())
t['traitValue'].unique()

[2 0 1]

array([ 4, 12, 10,  8, 11,  2,  5,  1,  7,  0,  3,  9,  6])

In [97]:
t = t.rename(columns={'scientificName' : 'species'})
t.to_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/EcoMorphDBs/DipteraTrait_label_encoded.csv', index=False)

In [112]:
t = df [['scientificName',	'habitat',	'traitName',	'traitValue']]

In [113]:
t = pd.concat([t, pd.get_dummies(t.habitat, dtype=int)], axis='columns')
t = pd.concat([t, pd.get_dummies(t.traitValue, dtype=int)], axis='columns')

In [114]:
t = t.drop(columns=['habitat', 'traitValue']).rename(columns={'scientificName' : 'species'})
t.to_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/EcoMorphDBs/DipteraTrait_onehot_encoded.csv', index=False)

In [5]:
cock_terms_skew = pd.concat([cock_terms_skew, pd.get_dummies(cock_terms_skew.Organism, dtype=int)], axis='columns')
cock_terms_skew = cock_terms_skew.drop(columns=['Organism'])
cock_terms_skew.to_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/DescriptiveStat/midori_Blattodea_skew_onehot_encoded.csv', index=False)

In [11]:
diptera_skew = pd.concat([diptera_skew, pd.get_dummies(diptera_skew.Organism, dtype=int)], axis='columns')
diptera_skew = diptera_skew.drop(columns=['Organism'])
diptera_skew.to_csv('/home/gabs/Documents/lab/TermitesAndCockroaches/mtdna-mutspec-insecta/data/DescriptiveStat/midori_Diptera_skew_onehot_encoded.csv', index=False)